<!-- app/views/codes/index.html.erb -->

<h1>List of Codes</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Vended</th>
      <th>Code Hash</th>
    </tr>
  </thead>
  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td><%= code.id %></td>
        <td><%= code.vended ? 'True' : 'False' %></td>
        <td><%= code.code_hash %></td>
      </tr>
    <% end %>
  </tbody>
</table>
