<!-- app/views/codes/show.html.erb -->

<h1>Code Details</h1>

<p><strong>ID:</strong> <%= @code.id %></p>
<p><strong>Vended:</strong> <%= @code.vended ? 'Yes' : 'No' %></p>
<p><strong>Created At:</strong> <%= @code.created_at %></p>
